<div class="element">
	<label for"template_name">Name</label>
	<%= text_field :template, :name %>
</div>
<div class="element">
	<label for"template_width">Width</label>
	<%= text_field :template, :width %>
</div>
<div class="element">
	<label for"template_color">Color</label>
	<%= text_field :template, :color %>
</div>
<div class="form_save">
	<%= submit_tag "Save"%>
</div>
