<h2> Manage Widget Collections</h2>
<% @widget.collections.each do |collection| %>	
	<div class="element">
		<label for"collection_type">Type</label>
		<%= text_field :collection, :type %>
	</div>
	<input type="button" id="get_refinement" value="List"/>
	<div class="element">
		<div id="collection_list">
		</div>	
		<div id="add_to_list">
		</div>		
	</div>	
<% end %>

<%= content_for :internal_javascript do %>
	$("#get_refinement").click( function(e) {
		$.ajax({
				type: "GET",
				url: "<%=admin_refinement_path%>",
				data: {type:  $("#collection_type").val() },
				success: function(resp) {
					$("#collection_list").append(resp);	
				}
			});
		});
<% end %>	
	