<div class="element">
	<label for"widget_name">Name</label>
	<%= text_field :widget, :name %>
</div>
<div class="element">
	<label for"widget_width">Width</label>
	<% if new_form %>
<%= select("widget", "width", 
	options_for_select(Grid.all.collect {|g| [ g.width, g.width ] }),
	 {:prompt => 'Widget Width'}) %>	
	 <% else %>
		<%= text_field :widget, :width, :rows => 10, :cols => 40 %>
	<% end %>
</div>
<div class="element">
	<label for"widget_filename">File name</label>
	<%= text_field :widget, :filename %>
</div>


