<div class="element">
	<label for"widget_name">Name</label>
	<%= text_field :widget, :name %>
</div>
<div class="element">
	<label for"widget_width">Width</label>
	<%= text_field :widget, :width %>
</div>

<div class="form_save">
	<%= submit_tag "Save"%>
</div>
