<h2> Add a new widget </h2>
<%= form_tag admin_widgets_path do %>
	<%= render :partial => "form", :locals => {:new_form => true}%>

<div class="element">
	<label for"widget_filename">Widget Type</label>
<%= select("widget", "widget_type", 
	options_for_select(WidgetType.all.collect {|w| [ w.name, w.id ] }),
	 {:prompt => 'Widget Type'}) %>
</div>
	 	
<div class="form_save">
	 <%= submit_tag "Save"%>
</div>
<% end %>