<div id="footer" class="clearfix">
  <div class="container">
	<ul id="footer_links">
	  <li><a href="#" title="About Livestream">About Us</a></li>
	  <li><a href="#" title="Terms of Use">Terms</a></li>
	  <li><a href="#" title="Contact Us">Contact</a></li>
	  <li><a href="#" title="Livestream Support">Support</a></li>
	</ul>
  </div>
</div>