<div id="notice_wrapper">
            <div id="top_notice" class="welcome">
        <div class="container">
          <p><strong>Welcome to My site.</p>
        </div>
      </div>
    </div>
<header id="header">
  <div class="container">
    <a href="/" id="logo" rel="nofollow" title="Livestream"> Watch Internet TV - Live streaming Video </a>
  </div>
</header>    