<div style="border:1px solid black;">
	Video Player
	Video Player </br>
	Video Player </br>
	Video Player </br>
	Video Player </br>	
	Video Player </br>
	Video Player </br>
	Video Player </br>
	Video Player </br>
</div>	
