// Place all the styles related to the admin/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #D2D2D2;
	font-size: 14px;
}
.main_container {
	width:974px;
	margin: auto;
	min-height:600px;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	padding: 0px 10px;
	background-color:#FFFFFF;
}

$scale_by: 2;
$scaled_966: (966/$scale_by);
$scaled_300: (300/$scale_by);
$scaled_485: (485/$scale_by);
$scaled_165: (165/$scale_by);
$scaled_620: (620/$scale_by);
$scaled_658: (658/$scale_by);


@mixin placeholder_space {
	height:20px;
	margin-top:#{(8/$scale_by)}px;
	margin-right:#{(8/$scale_by)}px;
	font-size:14px;
	padding: 2px 0px 0px 0px;
	&:hover {
		cursor:pointer;
	}
}


#build_layout {
	width:990px;
}
#available_placeholders {
		float:left;
		width:#{$scaled_966+10}px;
}

#page_layout {
		float:left;
		width:#{$scaled_966+10}px;
}

#page_layout {
	.width_966 {
		float:left;
	}
	.width_300 {
	float:left;
	}
	 .width_485{
	 float:left;
	 }
	  .width_165 {
	  float:left;
	}	
}	

#available_placeholders, #page_layout {
	.row {
		width: #{$scaled_966 + 8 }px;
	}
	.selected {
		border: 1px solid red;
	}

	.width_966 {
		@include placeholder_space;
		width: #{$scaled_966}px;
	}
	.width_300 {
		@include placeholder_space;
		width: #{$scaled_300}px;
	}
	.width_485 {
		@include placeholder_space;
		width: #{$scaled_485}px;
	}	
	.width_165 {
		@include placeholder_space;
		width: #{$scaled_165}px;
	}
	.width_658 {
		@include placeholder_space;
		width: #{$scaled_658}px;
	}
	.width_620 {
		@include placeholder_space;
		width: #{$scaled_620}px;
	}
}	

td span.small_box {
	padding: 10px 50px 0px 0px;
}
