<h1>Admin::Placeholders#new</h1>
<div class="admin_form">
<%= form_tag adming_placeholders do %>
		<div class="element">
			<label for"placeholder_">Name</label>
			<%= text_field_tag :page, :name %>
		</div>
		<div class="element">
			<label for"page_name">Name</label>
			<%= text_field_tag :page, :name %>
		</div>		
<% end %>
</div>
