<div class="form_data">
<div class="element">
	<label for"category_name">Name</label>
	<%= text_field :category, :name %>
</div>
<div class="form_save">
	<%= submit_tag "Save", :class => "button large green"%>
</div>
</div>