<div class="element">
	<label for"grid_name">Name</label>
	<%= text_field :grid, :name %>
</div>
<div class="element">
	<label for"grid_width">Width</label>
	<%= text_field :grid, :width %>
</div>
<div class="element">
	<label for"grid_color">Color</label>
	<%= text_field :grid, :color %>
</div>
<div class="form_save">
	<%= submit_tag "Save"%>
</div>
