html, body {
color: #404040;
font-family: 'Helvetica Neue', Arial,Helvetica, Verdana, sans-serif;
font-size: 12px;
}


$actual_966: 966;
$actual_300: 300;
$actual_485: 485;
$actual_165: 165;
$actual_620: 620;
$actual_658: 658;

@mixin widget_listing {
	.widget_content {
		margin-top:8px;
		margin-right:8px;
		background-color:#FFFFFF;
	 }
	}

#place_widget {
	width:#{$actual_966+10}px;
	margin: 0px auto;
	.row {
		width: 974px;
	.column {
		float:left;
	}
	.widget_width {
		@include widget_listing;
	}
	}
}

// Site CSS


@import "partial/common",
		"partial/header",
		"partial/footer",
		"partial/form",
		"partial/slider_485",
		"partial/video_gallery";		
		

 select {
	padding: 2px;
}

.form_default .element {
  margin-bottom:5px;
}

.form_default .element label {
	width:auto;
}



