html, body {
color: #404040;
font-family: 'Helvetica Neue', Arial,Helvetica, Verdana, sans-serif;
font-size: 12px;
}


$actual_966: 966;
$actual_300: 300;
$actual_485: 485;
$actual_165: 165;
$actual_620: 620;
$actual_658: 658;

@mixin widget_listing($width) {
	.widget_content {
		margin-top:8px;
		margin-right:8px;
		background-color:#FFFFFF;
	 }
	}

#place_widget {
	width:#{$actual_966+10}px;
	margin: 0px auto;
	.row {
		width: #{$actual_966 + 8 }px;
	.column {
		float:left;
	}
	.width_966 {
		width: #{$actual_966}px;
		@include widget_listing($actual_966);
	}
	.width_300 {
		width: #{$actual_300}px;
		@include widget_listing($actual_300);
	}
	.width_485 {
		width: #{$actual_485}px;
		@include widget_listing($actual_485);
	}	
	.width_165 {
		width: #{$actual_165}px;
		@include widget_listing($actual_165);
	}
	.width_658 {
		width: #{$actual_658}px;
		@include widget_listing($actual_658);
	}
	.width_620 {
		width: #{$actual_620}px;
		@include widget_listing($actual_620);
	}
	}
}

// Site CSS

@import "partial/header",
		"partial/footer"







