div.video_slider_485 {
	width:485px;
	padding-bottom:10px;
	overflow:hidden;
	border-radius:5px;
	border:1px solid #000000;	
	.widget_title {
		padding-bottom: 10px;
		h2 {
			float:left;
			padding:10px 0px 10px 10px;
		}
		div.right {
			float: right;
			width:75px;
			margin:auto;
			margin-top:12px;
			span {
				color:#ffffff;
				padding:10px;
				font-size:14px;
				font-weight:bolder;
				background-image: linear-gradient(bottom, #441A66 12%, #6761B8 56%);
				background-image: -o-linear-gradient(bottom, #441A66 12%, #6761B8 56%);
				background-image: -moz-linear-gradient(bottom, #441A66 12%, #6761B8 56%);
				background-image: -webkit-linear-gradient(bottom, #441A66 12%, #6761B8 56%);
				background-image: -ms-linear-gradient(bottom, #441A66 12%, #6761B8 56%);
				background-image: -webkit-gradient(
					linear,
					left bottom,
					left top,
					color-stop(0.12, #441A66),
					color-stop(0.56, #6761B8)
				);				
				&:hover {
				  cursor:pointer;
				}
			}
		}
	}
	.container {
		width:10000px;
		position:relative;
		left:0px;
		clear:both;
		margin-top:5px;
		.item {
			float:left;
			width:113px;
			height:100px;
			padding: 0px 5px 0px 5px;
			text-align:center;
		}
	}
}