div.video_slider_485 {
	width:485px;
	padding-bottom:10px;
	overflow:hidden;
	border-radius:5px;
	border:1px solid #000000;	
	.widget_title {
		margin: 5px 0px;
		padding-bottom: 10px;
		height: 15px;
		h2 {
			margin:0px;
			font-size:18px;
			font-weight:300;
			float:left;
		}
		div.right {
			float: right;
			text-indent:-30px;
			span {
				padding:5px;
				font-size:14px;
				font-weight:bolder;
				&:hover {
				  cursor:pointer;
				}
			}
		}
	}
	.container {
		width:10000px;
		position:relative;
		left:0px;
		clear:both;
		.item {
			float:left;
			width:119px;
			height:50px;
			border:1px solid #00FF00;
		}
	}
}