div.video_gallery_793 {
	width:793px;
	padding-bottom:10px;
	.container {
		width:793px;	
		.item {
			width:136px;
			float:left;
			text-align:center;
			border-radius:5px;
			border:1px solid #000000;
			margin:5px;
			padding:5px;
		}
	}
	.pagination {
		clear:both;
		text-align:center;
		font-size:12px;		
		em {
			background-color:#FF0000;
			color:#FFFFFF;
			padding:0px 5px 0px 5px;
		}
		a {
			padding:0px 5px 0px 5px;
			background-color:#C2C2C2;
			text-decoration:none;
			&:hour {
				text-decoration:underline;
			}
		}
		.previous_page, .next_page {
			background-color:transparent;
		}	
	}	
}